[submodule "gateway"]
	path = gateway
	url = https://github.com/Products-App-Miscroservices/gateway.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/Products-App-Miscroservices/products-microservice.git
[submodule "auth-microservice"]
	path = auth-microservice
	url = https://github.com/Products-App-Miscroservices/auth-microservice.git
[submodule "orders-microservice"]
	path = orders-microservice
	url = https://github.com/Products-App-Miscroservices/orders-microservice.git
[submodule "payments-microservice"]
	path = payments-microservice
	url = https://github.com/Products-App-Miscroservices/payments-microservice.git
